@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&display=swap");
:root {
  --colorPrimary1:#e0fdff;
  --colorPrimary2:#bcdcea;
  --colorPrimary3:#a5b9d4;
  --colorPrimary4:#9995b6;
  --colorPrimary5:#91708f;
  --colorPrimary6:#844f60;
  --colorSecondary1:#e0fdff;
  --colorSecondary2:#324b4d;
  --colorSecondary3:#79b5ba;
  --colorSecondary4:#f7f5ff;
  --colorSecondary5:#bfbdd5;
  --colorBlack: #000;
  --redHighlight: #B73225;
  --blueMinded: #004E7C;
  --maroon: #591c0b;
  --greyWater: #5C5F58;
  --lighterGrey: #DCE1E3; }

*, *::after, *::before {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #e0fdff, var(--colorPrimary3));
  background-size: cover;
  color: var(--colorSecondary2); }

.header {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, white 48%), url("/img/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  grid-row: 2/3;
  grid-column: 3/5;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.heading__primary {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 2rem; }

.heading__secondary {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  font-weight: 200; }
  .heading__secondary--span {
    background: var(--colorPrimary4);
    color: var(--lighterGrey);
    font-weight: 800;
    padding: 0.5rem 1rem;
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    -moz-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%); }

.icon {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem; }

.container {
  margin: 3rem auto;
  width: 95vw;
  display: grid;
  grid-template-columns: 5rem max-content 1fr 1fr;
  grid-template-rows: 7rem 100vh 80vh 40rem 8rem; }

.nav {
  grid-row: 1 / 2;
  grid-column: 3/ 5;
  display: flex;
  background-color: var(--colorPrimary4);
  color: var(--lighterGrey);
  justify-content: end; }
  .nav__links {
    display: flex;
    width: 40rem;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: relative; }
  .nav__link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 1rem; }
    .nav__link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: #000; }
    .nav__link--text:visited, .nav__link--text:link {
      text-decoration: none;
      color: var(--lighterGrey);
      font-size: 2rem;
      text-transform: uppercase; }
  .nav__accounts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-right: 2rem;
    width: 20rem; }

.sideBar {
  background: var(--colorPrimary4);
  grid-row: 1/6;
  grid-column: 1/2; }
  .sideBar__contents {
    position: fixed;
    top: 10rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 5rem; }
  .sideBar__content:not(:last-child) {
    margin-bottom: 1rem; }

.imageGallery {
  grid-row: 3/4;
  grid-column: 3/5; }
  .imageGallery__imageContainer {
    width: 200px; }
  .imageGallery__image {
    width: 100%; }

.feedbackAndOffers {
  grid-row: 4/5;
  grid-column: 3/ 5; }

.footer {
  grid-row: 5/6;
  grid-column: 3/ 5; }

.btn {
  border: none;
  background-color: var(--colorPrimary5);
  height: 3rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--lighterGrey); }

.hidden {
  display: none;
  opacity: 0; }
