@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&display=swap");
:root {
  --colorPrimary1:#e0fdff;
  --colorPrimary2:#bcdcea;
  --colorPrimary3:#a5b9d4;
  --colorPrimary4:#9995b6;
  --colorPrimary5:#91708f;
  --colorPrimary6:#844f60;
  --colorSecondary1:#e0fdff;
  --colorSecondary2:#324b4d;
  --colorSecondary3:#79b5ba;
  --colorSecondary4:#f7f5ff;
  --colorSecondary5:#bfbdd5;
  --colorBlack: #000;
  --redHighlight: #B73225;
  --blueMinded: #004E7C;
  --maroon: #591c0b;
  --greyWater: #5C5F58;
  --lighterGrey: #DCE1E3; }

*, *::after, *::before {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #e0fdff, var(--colorPrimary3));
  background-size: cover;
  color: var(--colorSecondary2); }

.header {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, white 48%), url("/img/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  grid-row: 2/3;
  grid-column: 3/5;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.heading__primary {
  font-family: 'Cinzel', serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1rem;
  color: var(--colorPrimary6);
  text-shadow: 0px 0px 1px #00004f;
  background: rgba(132, 79, 96, 0.2);
  padding: 1rem 3rem;
  position: relative;
  clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
  -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
  -moz-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%); }

.heading__secondary {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  font-weight: 200; }
  .heading__secondary--span {
    background: var(--colorPrimary4);
    color: var(--lighterGrey);
    font-weight: 800;
    padding: 0.5rem 1rem;
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    -moz-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%); }

.heading__tertiary {
  font-family: 'Cinzel', serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1rem;
  color: var(--colorPrimary6);
  text-shadow: 0px 0px 2px black;
  padding: 1rem 3rem;
  position: relative; }

.icon {
  width: 3.25rem;
  height: 3.25rem;
  margin: 0.5rem; }

.container {
  transition: all 0.2s;
  margin: 3rem auto;
  width: 95vw;
  display: grid;
  grid-template-columns: 5rem max-content 1fr 1fr;
  grid-template-rows: 7rem 100vh 80vh 10rem max-content 16rem; }

.nav {
  grid-row: 1 / 2;
  grid-column: 3/ 5;
  display: flex;
  background-color: var(--colorPrimary4);
  color: var(--lighterGrey);
  justify-content: end; }
  .nav__links {
    display: flex;
    width: 40rem;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: relative; }
  .nav__link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 1rem; }
    .nav__link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: #000; }
    .nav__link--text:visited, .nav__link--text:link {
      text-decoration: none;
      color: var(--lighterGrey);
      font-size: 2rem;
      text-transform: uppercase; }
  .nav__accounts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-right: 2rem;
    width: 20rem; }

.sideBar {
  grid-row: 1/7;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 4rem max-content;
  background-color: var(--colorPrimary4);
  transition: all 0.4s; }
  .sideBar__icons {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 22rem;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 4px; }
  .sideBar__contents {
    opacity: 1;
    margin-top: 22rem;
    margin-left: 2rem;
    margin-right: 2rem;
    list-style: none;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(4, 4.6rem);
    transition: all 0.4s; }
    .sideBar__contents--content {
      transition: all 0.4s;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: var(--colorSecondary1);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 1.3rem;
      position: relative;
      z-index: 10000; }
      .sideBar__contents--content::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0px;
        height: 100%;
        background: var(--colorSecondary1);
        transition: all 0.2s; }
      .sideBar__contents--content:hover {
        color: var(--colorPrimary4); }
        .sideBar__contents--content:hover::after {
          z-index: -1000;
          background: var(--colorSecondary1);
          width: 100%; }

.imageGallery {
  grid-row: 3/4;
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: white; }

.footer {
  grid-row: 6/7;
  grid-column: 3/ 5;
  background: var(--colorSecondary2); }

.btn {
  border: none;
  background-color: var(--colorPrimary5);
  height: 3rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--lighterGrey); }

.hidden {
  display: none;
  opacity: 0; }

.arrowbtn {
  background: rgba(89, 28, 11, 0.2);
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem; }

.sectionThree {
  grid-row: 4/6;
  grid-column: 3/ 5;
  background: white;
  display: flex;
  justify-content: space-evenly; }
  .sectionThree__heading {
    background: #E6DCDF;
    border-radius: 20px;
    width: 30vw;
    text-align: center;
    -webkit-box-shadow: 0px 10px 11px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 11px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 11px -6px rgba(0, 0, 0, 0.75); }

.u-colorDarken {
  color: var(--colorPrimary4); }
